<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Safer streets - TODAY!</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">
  <body>

    <header>
      <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">We've teamed up with surveillance companies around the world to make YOU safer, by tracking your every move!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Safer Streets TODAY!</strong>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Safer Streets - TODAY!</h1>
          <p class="lead text-muted">Using our unpatented "Safer Streets Code" technology, Safer Streets drivers safe a fortune on their car insurance! All they have to do is opt into our panopticon(TM) of surveillance!</p>
          <p class="lead text-muted">If you see one of our Safer Streets drivers doing anything dangerous, please upload a photo and we'll handle everything else using our advanced algorithms!</p>
          <p>
            <a href="/upload" class="btn btn-primary my-2">Upload Photo</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top photo" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/display?name=car1.jpg">
                <div class="card-body">
                  <p class="card-text">Speeding in a school zone.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top photo" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/display?name=car2.jpg">
                <div class="card-body">
                  Blocking traffic
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top photo" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/display?name=car3.jpg">
                <div class="card-body">
                  Disregard; friendly
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top photo" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/display?name=car4.jpg">
                <div class="card-body">
                  ERROR
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top photo" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/display?name=car5.jpg">
                <div class="card-body">
                  No offenses were identified, but because somebody submitted this photo we will track this user extra closely
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top photo" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="/display?name=car6.jpg">
                <div class="card-body">
                  <span style="color:red">Ų̵͖̖̪̙̌͌̅͌̔̅̽̔̒͘͝͠ņ̷̛̦̻̙͖̹̩̣̺̭̌͒̀̍͂̏̿̀͜͝k̴̡̫̬͙̒͐̋̆͛̈̒̓͑̌̈́͝ͅn̸̤͑̎̏͑̉̚̚ȯ̴̮̈́͆̔̓̔w̵̬͇̔̎̓̈́̿̆ň̶͇̠̲̹͔̥̻̅̾̌̚͘ ̷͙͔̜̆̃̀̀́̉̅́͘̚ẽ̵̂͠ͅŕ̷̛̩̌̃͊̇̏͌r̸̡͖͉̰͕͔̞͙͖̺̆̏̋͊ö̶̡̧̤̜̩̟͚̩͚̩͉̝͚́ŗ̸̧̯͉̥͔̙̱̟̖̤̇͜͜</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p>Powered by Bootstrap!!</p>
      </div>
    </footer>

    <script src="jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="holder.min.js"></script>
